.status-bar {
  height: 44px;
  background: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  z-index: 1000;
}

.status-bar-notch {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 160px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notch-bg {
  width: 100%;
  height: 100%;
  background: #000000;
  border-radius: 0 0 20px 20px;
}

